#a{                                
    background-color:yellow;                                                                                                                                                                                                                                                                                                     ;
}
#b{
    background-color: orange;
}
#c{
    background-color: green;
}
#d{
    background-color: pink;
}
#e{
    background-color: blue;
}
#f{
    background-color: brown;
}
#g{
    background-color: navy;
}
#h{
    background-color: blueviolet;
}
#i{
    background-color: red;
}
#j{
    background-color: yellowgreen;
}